<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar inverse">
  <li><%= link_to "one", pages_one_url %></li>
  <li><%= link_to "two", pages_two_url %></li>
  <li><%= link_to "three", pages_three_url %></li>

</nav>
    <%= yield %>
  </body>
</html>
